* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbarcolor: ;
  --fontcolor: ;
  --mainsectioncolor: ;
  --lightanchorcolor: ;
  --heavyanchorcolor: ;
}

body {
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

#navbar {
  border-right: 1px solid black;
  background-color: var(--navbarcolor);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#main-doc {
  width: 80vw;
  padding: 1vh 1vw;
  background-color: var(--mainsectioncolor);
  position: absolute;
  top: 0;
  left: 20vw;
}

.main-section header {
  font-size: 2rem;
  font-weight: bold;
}

.main-section p,
.main-section ul {
  margin: 0.5rem 1rem;
}

code {
  display: none;
}

@media only screen and (max-width: 1178px) {
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    border-right: none;
    border-bottom: 1px solid black;
  }

  #main-doc {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
  }
}
