/*------------------General----------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blockcolor: hsl(0, 0%, 0%, 0.897);
  --lightnavcellcolor: hsl(0, 0%, 20%, 0.808);
  --heavynavcellcolor: hsl(0, 0%, 0%, 0.952);
  --mainsectioncolor: hsl(0, 0%, 0%, 0.829);
  --lightanchorcolor: hsl(118, 72%, 37%, 0.897);
  --heavyanchorcolor: hsl(118, 72%, 37%, 0.616);
  --fontcolor: white;
}

body {
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: var(--fontcolor);
}

h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--lightanchorcolor);
}

a:hover {
  color: var(--heavyanchorcolor);
}

/*-------------------Navbar----------------------*/

#navbar {
  box-shadow: 5px 0px 10px black;
  background-color: var(--blockcolor);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar h2 {
  padding-left: 7%;
  font-size: 1.7rem;
}

#navbar h3 {
  padding-left: 11%;
  font-size: 1.5rem;
}

#navbar h4 {
  padding-left: 15%;
  font-size: 1.2rem;
}

#navbar li {
  border-top: 1px solid var(--fontcolor);
  box-shadow: 1px 3px 5px black;
  padding: 4px;
  padding-bottom: 4px;
  background-color: var(--heavynavcellcolor);
}

#navbar li:hover {
  background-color: var(--lightnavcellcolor);
}

.dropdown-content {
  display: none;
  width: 100%;
  height: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*------------------Main-----------------------*/

#main-doc {
  width: 80vw;
  padding: 1vh 1vw;
  background-color: var(--mainsectioncolor);
  position: absolute;
  top: 0;
  left: 20vw;
  text-align: justify;
}

.main-section {
  margin: 30px;
  background-color: var(--blockcolor);
  padding: 15px;
  border-radius: 15px;
}

.main-section h3 {
  margin: 0.5rem 0.5rem;
}

.main-section p,
.main-section ul,
.main-section li,
.main-section h4 {
  margin: 0.5rem 1rem;
}

/*-------------list-with-images---------------*/

.Pieces-list {
  list-style-type: none;
}

.Pieces-list li {
  margin: 2rem 0;
  min-height: 81px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.Pieces-list img {
  width: 80px;
  height: 80px;
}

.Pieces-list p {
  vertical-align: middle;
}

/*-------------Necessary-for-fcc-----------------*/

code {
  display: none;
}

/*----------------Smaller-screen------------------*/

@media only screen and (max-width: 1178px) {
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    border-right: none;
    border-bottom: 1px solid black;
    text-align: center;
  }

  #navbar h1,
  #navbar h2,
  #navbar h3,
  #navbar h4 {
    padding: 0;
  }

  #main-doc {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
  }
}
